BOT_TOKEN=8332473503:AAEvyS-iBhm6eVp1VdEMYpTLhX5KEUu0WxQ
ADMIN_ID=8197284774
OTP_API_URL=http://147.135.212.197/crapi/st/viewstats
OTP_API_TOKEN=R1dPQUFBUzSLhmRod3SLV0OYhHxKbWeEWHdqfYl_eVhTU5RzWGZogQ==
